<!--#box {
    width: 400px;
    height: 400px;
    background: url("../img/mercearia.jpg");
    text-align: center;
    color: white;
}

-->#box h1 {
    background: rgba(255, 255, 255, );
}

.size {
    width: 400px;
    height: 400px;
    background: url("../img/mercearia.jpg");
    background-size: cover;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 6em align-items: center;
    justify-content: center;
}